<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <title>HomePage</title>
</head>

<body>
    <div class="hero">
        <nav>
            <img src="/static/img/logo.png" class="logo">

            <ul>
                <li><a href="{% url 'register' %}">Registrarse</a></li>
            </ul>
        </nav>

        <div class="row">
            <div class="col">
                <h1>Enjoy a<br>rich stuffed arepa</h1>
                <a href="{% url 'menu' %}">Order now</a>
            </div>

            <div class="col">
                <img src="/static/img/arepaimagen.png" class="feature-img">
            </div>
        </div>
    </div>
</body>
</html>