<!DOCTYPE html>
<html lang="en">

<head>
  <title>registro </title>
  <link rel="stylesheet" type="text/css" href="/static/css/styleLogin.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="signup-box">
    <h1>Registro</h1>
    <h4>Es gratis, solo toma un minuto</h4>

    <form>
      <label>Primer nombre</label>
      <input type="text" placeholder="" />
      <label>Apellido</label>
      <input type="text" placeholder="" />
      <label>Email</label>
      <input type="email" placeholder="" />
      <label>Contraseña</label>
      <input type="password" placeholder="" />
      <label>Confirma contraseña</label>
      <input type="password" placeholder="" />
      <input type="button" value="Enviar" />
    </form>

    <p>
      Al dar click aceptas <br />
      <a href="#">Terminos y condiciones</a> y <a href="#">Politica y privacidad</a>
    </p>
  </div>
  <p class="para-2">
    ¿ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesion aqui</a>
    <a href="{% url 'home' %}">Volver al home</a>
  </p>
</body>

</html>