<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Menú</title>
    <link rel="stylesheet" href="/static/css/stylemenu.css">
</head>

<body>
    <section class="menus-area">
        <div class="container">
            <div class="section-title">
                <h4> Menú</h4>
            </div>
            <div class="menus">
                {% for product in products %}
                <div class="menu-items">
                    <div class="single-menu">
                        <span>${{product.price}}</span>
                        <img src="{{ product.image }}" alt="{{ product.name }}" class="img-fluid" width="75%">
                        <h4>{{product.name | title}}</h4>
                        <!-- <p>{{product.descripction}}</p> -->
                        <a href="">Ordena Ya</a>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>

</html>